<footer id="footer">
    <div class="container">
      <div class="row">

        <div class="grid_4 float__right">
          <h3 class="h3__inset3">Contactez nous</h3>
          <address class="mb1">
              <dl>
                  <dt></dt>
                  <dd class="phone">06.87.10.77.48</dd>
                  <dd class="mail"><a href="#" class="simple-link">staumont.elodie@icloud.com</a></dd>

              </dl>
          </address>
        </div>

        <div class="grid_4 float__right">
            <h3 class="h3__inset3">Nous situer</h3>
            <address class="mb0">
                <dl>
                    <dt class="home">10, Avenue de la Paix<br>
                        <span>62152 HARDELOT, FRANCE<br></span>
                    </dt>
                    <dd></dd>

                </dl>
            </address>

        </div>

        <div class="grid_4">

          <a href="index.html"><img src="/assets/logo.png" style="width: 100px;" id="footer_logo" alt=""/></a>
          <div class="privacy">
              © <span id="copyright-year"></span>
              School For Us <br><a rel="nofollow" href="http://www.templatemonster.com/category.php?category=490&type=1" target="_blank">Mentions légales</a>
          </div>
          <ul class="socials">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

