<footer id="footer">
    <div class="container">
      <div class="row">

        <div class="grid_4 float__right">
          <h3 class="h3__inset3">contact us</h3>
          <address class="mb1">
              <dl>
                  <dt></dt>
                  <dd class="phone"><span>Freephone:</span>+1 800 559 6580</dd>
                  <dd class="mail"><a href="#" class="simple-link">contact@demolink.org</a></dd>

              </dl>
          </address>
        </div>

        <div class="grid_4 float__right">
            <h3 class="h3__inset3">locations</h3>
            <address class="mb0">
                <dl>
                    <dt class="home">9870 St Vincent Place,<br>
                        <span>Los Angeles, DC 45 Fr 45.<br></span>
                    </dt>
                    <dd></dd>

                </dl>
            </address>
            <a class="blue-link" href="#">Get Directions</a>
        </div>

        <div class="grid_4">
          <h3 class="h3__inset3">copyright</h3>
          <a href="index.html"><img src="/assets/logo_footer.png" id="footer_logo" alt=""/></a>
          <div class="privacy">
              © <span id="copyright-year"></span> <a href="index-6.html">Privacy policy</a>
              More Child Charity Templates at <a rel="nofollow" href="http://www.templatemonster.com/category.php?category=490&type=1" target="_blank">TemplateMonster.com</a>
          </div>
          <ul class="socials">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

