<header id="header">
      <div class="container">
          <div class="row">
              <div class="grid_12">
                  <div class="phone-number">

                  </div>
              </div>
          </div>
      </div>
    <div id="stuck_container">
      <div class="container">
        <div class="row">
          <div class="grid_12">
              <nav>
                  <ul class="sf-menu">
                      <li class="current"><a href="<%=root_path %>">Accueil</a></li>
                      <li><a href="<%=pages_about_path %>">A propos</a></li>
                      <li><a href="index-2.html">Actualités</a></li>
                      <li><a href="index-3.html">Liens utiles</a></li>
                      <li><a href="index-4.html">Contacts</a></li>
                      <li><a href="index-5.html">Time For Us</a></li>
                  </ul>
                  <div class="clearfix"></div>
              </nav>
          </div>

        </div>
      </div>
    </div>
  </header>
