<header id="header">
      <div class="container">
          <div class="row">
              <div class="grid_12">
                  <div class="phone-number">
                          <span class="phone-number_description">Lorem ipsum dolor sit amet conse ctetur adipisicingelit.</span>
                      <span class="phone-number_number">(800) 12374675</span>
                  </div>
              </div>
          </div>
      </div>
    <div id="stuck_container">
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <h1><a href="index.html"><img src="/assets/logo.png"  style="max-width: 100%; height: 50px;" alt="logo"></a></h1>

              <nav>
                  <ul class="sf-menu">
                      <li class="current"><a href="index.html">Home</a></li>
                      <li><a href="index-1.html">About</a>
                          <ul>
                              <li><a href="#">History</a></li>
                              <li><a href="#">News</a>
                                  <ul>
                                      <li><a href="#">Latest</a></li>
                                      <li><a href="#">Archive</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Testimonials</a></li>
                          </ul>
                      </li>
                      <li><a href="index-2.html">Ministries</a></li>
                      <li><a href="index-3.html">Get Involved</a></li>
                      <li><a href="index-4.html">Resources</a></li>
                      <li><a href="index-5.html">Contacts</a></li>
                  </ul>
                  <div class="clearfix"></div>
              </nav>
          </div>

        </div>
      </div>
    </div>
  </header>
