
<section id="content">
    <div class="grey-background paddings4">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h2>à propos de nous</h2>
                  </br>
                </div>
            </div>
            <div class="row">
                <div class="grid_6">
                    <img src="/assets/about1.png" alt="" style="height: 340px;" ></iframe>
                </div>
                <div class="grid_6">
                    <div class="post">
                        <h3>Notre action</h3>
                        <p>La création d’établissements, ou l‘accompagnement du changement, pour un modèle pédagogique qui s’adapte aux besoins particuliers des élèves.
                        Nous dédions principalement nos actions aux enfants présentant au un trouble neuro-développemental (spectre autistique, DYS, trouble de l’attention…) et/ou précoces.<br>  Nous sommes là aussi pour les enfants qui ne trouvent pas leur place dans le système scolaire actuel malgré leurs capacités.<br>
                        Le réseau construit autour de l’enfant est notre clé de voûte.<br>
                        En effet, accompagner des intelligences atypiques c’est prendre en compte des modes d’apprentissages diverses, c’est accueillir et encadrer des sensibilités fortes, des hyper-sensorialités, des inhabilités sociales. Cela implique une adaptation permanente, un travail en lien étroit avec l’enfant, ses parents et le cas échéant son équipe soignante et/ou de rééducation, en leur reliant des interlocuteurs dédiés (ergothérapeute, coach,…).
</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="paddings5">
        <div class="container">
            <div class="row">
                <div class="grid_4">
                    <h2 class="margin1">Les besoins</h2>
                    <div class="post">
                        <h3 class="marker marker1"><a href="#">Un environnement<br>scolaire inadapté</a></h3>
                        <p>Prise en compte des particularités de l'enfant.<br>Connaissance des atypies.<br>Valorisation des capacités.<br>Adaptations de l'enseignement.<br>Supports pédagogiques adaptés.<br>Communication.<br>Adaptation de l'emploi du temps.<br>Effectifs adaptés.</p>
                    </div>
                </div>
                <div class="grid_4">
                    <h2 class="margin1">Nos solutions</h2>
                    <div class="post">
                        <h3 class="marker marker2"><a href="#">Bienveillance<br> et inclusion</a></h3>
                        <p>Créations d'établissemnts inclusifs.<br>Accompagnements du changement.<br>Modèles pédagogiques adaptatifs.</p>
                    </div>
                </div>
                <div class="grid_4">
                    <h2 class="margin1">Nos objectifs</h2>
                    <div class="post">
                        <h3 class="marker marker3"><a href="#">Une nouvelle ère<br> pédagogique</a></h3>
                        <p>Un concept qui s’adapte aux profils atypiques, aussi bien dans l’organisation et l’encadrement des enseignements que dans l’agencement des espaces qui accueilleront les élèves.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blue-background paddings5">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h4>à qui s'adresse school for us ?</h4>
                </div>
            </div>
            <div class="row">
                <div class="grid_5">
                    <span class="header_span1">Donec justo urna malesuada a viverra ac pellentesque vitae nunc Aenean ac leo eget</span>
                    <p class="header_p">Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus.</p>
                    <p class="header_p">
                        Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id
                    </p>
                </div>
                <div class="grid_3 preffix_1">
                    <ul class="list1">
                        <li><a href="#">Suspendisse sollicitudin velit sed leo</a></li>
                        <li><a href="#">Ut pharetra augue nec augue</a></li>
                        <li><a href="#">Nam elit agna endrerit sit amet</a></li>
                        <li><a href="#">Tincidunt ac viverra sed nulla</a></li>
                        <li><a href="#">Donec porta diam eu massa</a></li>
                        <li><a href="#">Quisque diam lorem</a></li>
                        <li><a href="#">Interdum vitae dapibus ac</a></li>
                    </ul>
                </div>
                <div class="grid_3">
                    <ul class="list1">
                        <li><a href="#">Vestibulum ante ipsum primis</a></li>
                        <li><a href="#">In faucibus orciluctus et</a></li>
                        <li><a href="#">Ultrices posuere cubilia Curae</a></li>
                        <li><a href="#">Suspendisse sollicitudin velit sed leo</a></li>
                        <li><a href="#">Ut pharetra augue nec augue</a></li>
                        <li><a href="#">Nam elit agna endrerit sit amet</a></li>
                        <li><a href="#">Tincidunt ac viverra sed nulla</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="beige-background paddings1">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h2 class="h2__inset1">Notre équipe</h2>
                </div>
            </div>
            <div class="row">
                <div class="grid_3">
                    <div class="post2">
                        <a href="#"><img src="images/page2_img4.png" alt=""/></a>
                        <span class="name"><a href="#">Sam Kromstain</a></span>
                        <span class="profession">Executive Director</span>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="post2">
                        <a href="#"><img src="images/page2_img5.png" alt=""/></a>
                        <span class="name"><a href="#">Marta Healy</a></span>
                        <span class="profession">Operations Manager</span>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="post2">
                        <a href="#"><img src="images/page2_img6.png" alt=""/></a>
                        <span class="name"><a href="#">Lewis Tompson</a></span>
                        <span class="profession">Finance Manager</span>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="post2">
                        <a href="#"><img src="images/page2_img7.png" alt=""/></a>
                        <span class="name"><a href="#">Janice Barlow</a></span>
                        <span class="profession">Cradle Care Coordinator</span>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="post2">
                        <a href="#"><img src="images/page2_img8.png" alt=""/></a>
                        <span class="name"><a href="#">Jacob Parker</a></span>
                        <span class="profession">Internship Coordinator</span>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="post2">
                        <a href="#"><img src="images/page2_img9.png" alt=""/></a>
                        <span class="name"><a href="#">Tom Brown</a></span>
                        <span class="profession">Sponsorship Coordinator</span>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="post2">
                        <a href="#"><img src="images/page2_img10.png" alt=""/></a>
                        <span class="name"><a href="#">Laura Moran</a></span>
                        <span class="profession">Cradle Care Ministry Coordinator</span>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="post2">
                        <a href="#"><img src="images/page2_img11.png" alt=""/></a>
                        <span class="name"><a href="#">Barbara Nilson</a></span>
                        <span class="profession">Discipleship Coordinator</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

