<header id="header">
      <div class="container">
          <div class="row">
              <div class="grid_12">
                  <div class="phone-number">
                          <span class="phone-number_description">Lorem ipsum dolor sit amet conse ctetur adipisicingelit.</span>
                      <span class="phone-number_number">(800) 12374675</span>
                  </div>
              </div>
          </div>
      </div>
    <div id="stuck_container">
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <h1><a href="index.html"><img src="images/logo.png" alt="logo"></a></h1>

              <nav>
                  <ul class="sf-menu">
                      <li class="current"><a href="index.html">Home</a></li>
                      <li><a href="index-1.html">About</a>
                          <ul>
                              <li><a href="#">History</a></li>
                              <li><a href="#">News</a>
                                  <ul>
                                      <li><a href="#">Latest</a></li>
                                      <li><a href="#">Archive</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Testimonials</a></li>
                          </ul>
                      </li>
                      <li><a href="index-2.html">Ministries</a></li>
                      <li><a href="index-3.html">Get Involved</a></li>
                      <li><a href="index-4.html">Resources</a></li>
                      <li><a href="index-5.html">Contacts</a></li>
                  </ul>
                  <div class="clearfix"></div>
              </nav>
          </div>

        </div>
      </div>
    </div>
  </header>
  <!--========================================================
                            CONTENT
  =========================================================-->

  <section id="content">

      <div id="camera_wrap">
          <div data-src="images/slider1.png"></div>
          <div data-src="images/slider2.png"></div>
          <div data-src="images/slider3.png"></div>
      </div>
      <div class="clearfix"></div>

      <div class="paddings1">
          <div class="container">
              <div class="row">
                  <div class="grid_12">
                      <h2>LET`S build the world without child<br>abuse and neglect!</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="blue-background paddings8">
          <div class="container">
              <div class="row">
                  <div class="grid_4">
                      <h4>need<br>your help<br>to survive!</h4>
                      <span class="header_span1">Temporibus autem quibusdam et aut officiis debitis aut rerum</span>
                      <p class="header_p">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit<br>quo minus id quod maxime placeat facerem possimus, omnis voluptas.</p>
                  </div>
                  <div class="grid_4">
                      <h3 class="h3__inset2">Lorem ipsum dolor sit amet</h3>
                      <ul class="list1">
                          <li><a href="#">Nemo enim ipsam voluptatem</a></li>
                          <li><a href="#">Voluptas sit aspernatur aut odit</a></li>
                          <li><a href="#">Dgit sed quia consequuntur</a></li>
                          <li><a href="#">Dolores eos qui ratione</a></li>
                          <li><a href="#">Foluptatem sequi nesciunt</a></li>
                          <li><a href="#">Neque porro quisquam est</a></li>
                      </ul>
                      <a class="btn-default" href="#">View All</a>
                  </div>
                  <div class="grid_4">
                      <h3 class="h3__inset2">Atvero eos et accusamus</h3>
                      <ul class="list1">
                          <li><a href="#">Nemo enim ipsam voluptatem</a></li>
                          <li><a href="#">Voluptas sit aspernatur aut odit</a></li>
                          <li><a href="#">Dgit sed quia consequuntur</a></li>
                          <li><a href="#">Dolores eos qui ratione</a></li>
                          <li><a href="#">Foluptatem sequi nesciunt</a></li>
                          <li><a href="#">Neque porro quisquam est</a></li>
                      </ul>
                      <a class="btn-default" href="#">View All</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="beige-background paddings3">
          <div class="container">
              <div class="row">
                  <div class="grid_5">
                      <img src="images/page1_img1.png" alt=""/>
                  </div>
                  <div class="grid_7">
                      <h2 class="h2__inset1">what we believe</h2>
                      <p class="color__white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariaturxcepteur sint occaecat cupidatatnon.</p>
                      <a class="btn-default btn__inset1" href="#">More Info</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="grey-background paddings4">
          <div class="container">
              <div class="row">
                  <div class="grid_12">
                      <h2>Nam libero tempore, cum soluta nobis<br>est eligendi optio cumque!</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="grid_4">
                      <div class="post1">
                          <img src="images/page1_img2.png" alt=""/>

                          <h3>Orphan Care<br>Country Overview</h3>

                          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti corrupti quos dolores et quas.</p>
                          <a class="btn-default btn__inset2" href="#">more</a>
                      </div>
                  </div>
                  <div class="grid_4">
                      <div class="post1">
                          <img src="images/page1_img3.png" alt=""/>

                          <h3>Orphan<br>Advocates</h3>

                          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti corrupti quos dolores et quas.</p>
                          <a class="btn-default btn__inset2" href="#">more</a>
                      </div>
                  </div>
                  <div class="grid_4">
                      <div class="post1">
                          <img src="images/page1_img4.png" alt=""/>

                          <h3>Adopt<br>an Orphanage</h3>

                          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti corrupti quos dolores et quas.</p>
                          <a class="btn-default btn__inset2" href="#">more</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>



  <!--========================================================
                            FOOTER
  =========================================================-->
  <footer id="footer">
    <div class="container">
      <div class="row">

        <div class="grid_4 float__right">
          <h3 class="h3__inset3">contact us</h3>
          <address class="mb1">
              <dl>
                  <dt></dt>
                  <dd class="phone"><span>Freephone:</span>+1 800 559 6580</dd>
                  <dd class="mail"><a href="#" class="simple-link">contact@demolink.org</a></dd>

              </dl>
          </address>
        </div>

        <div class="grid_4 float__right">
            <h3 class="h3__inset3">locations</h3>
            <address class="mb0">
                <dl>
                    <dt class="home">9870 St Vincent Place,<br>
                        <span>Los Angeles, DC 45 Fr 45.<br></span>
                    </dt>
                    <dd></dd>

                </dl>
            </address>
            <a class="blue-link" href="#">Get Directions</a>
        </div>

        <div class="grid_4">
          <h3 class="h3__inset3">copyright</h3>
          <a href="index.html"><img src="images/logo_footer.png" id="footer_logo" alt=""/></a>
          <div class="privacy">
              © <span id="copyright-year"></span> <a href="index-6.html">Privacy policy</a>
              More Child Charity Templates at <a rel="nofollow" href="http://www.templatemonster.com/category.php?category=490&type=1" target="_blank">TemplateMonster.com</a>
          </div>
          <ul class="socials">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
