@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import "grid.css";
@import "ui.totop.css";
@import "superfish-menu.css";
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:700);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400italic);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:700italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);
/*========================================================
                    Main layout styles
=========================================================*/
body {
  font: 400 14px/24px "Istok Web", sans-serif;
  color: #90a2aa;
  background: #ffffff;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
img {
  max-width: 100%;
}
@media (max-width: 767px) {
  img {
    width: 100%;
  }
}
* {
  -webkit-text-size-adjust: none;
}
/*========================================================
                    Defaults
=========================================================*/
/* ======= Headers ======= */
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
h2 {
  font: normal 45px/45px "Trebuchet MS", sans-serif;
  color: #606364;
  margin-bottom: 21px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 35px;
    line-height: 35px;
  }
}
.h2__inset1 {
  font: 700 42px/42px "Trebuchet MS", sans-serif;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 17px;
}
@media (max-width: 767px) {
  .h2__inset1 {
    font-size: 32px;
    line-height: 32px;
  }
}
.h2__inset2 {
  color: #ffffff;
}
h3 {
  font: 700 24px/24px "Trebuchet MS", sans-serif;
  color: #4a8aab;
}
.h3__inset1 {
  font-size: 18px;
  font-weight: 400;
}
.h3__inset2 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: -1px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .h3__inset2 {
    margin-top: 50px;
  }
}
.h3__inset3 {
  line-height: 30px;
  color: #606364;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .h3__inset3 {
    margin-top: 50px;
  }
}
.h3__inset4 {
  font-size: 18px;
  font-weight: 700;
}
.h3__inset5 {
  line-height: 30px;
  color: #606364;
}
h4 {
  font: 700 48px/48px "Istok Web", sans-serif;
  color: #ffffff;
  margin-bottom: 21px;
}
/* ======= Buttons ======= */
.btn-default {
  font: normal 14px/21px "Istok Web", sans-serif;
  color: #ffffff;
  background: #4a8aab;
  display: inline-block;
  border-radius: 5px;
  padding: 11px 32px 8px 33px;
  margin: 13px 0;
}
.btn-default:hover {
  background: #d02525;
}
.btn__inset1 {
  background: #ffffff;
  color: #606364;
  padding-top: 13px;
  padding-bottom: 9px;
  margin: 17px 0;
}
.btn__inset1:hover {
  background: #8bd9ff;
  color: #ffffff;
}
.btn__inset2 {
  padding: 7px 17px 8px 18px;
  font-size: 16px;
}
.btn__inset3 {
  margin-top: 18px;
  margin-bottom: 36px;
  background: #d02525;
  padding-left: 34px;
  padding-right: 35px;
}
.btn__inset3:hover {
  background: #4a8aab;
}
/* ======= Float ======= */
.float__right {
  float: right;
}
@media (max-width: 767px) {
  .float__right {
    float: none;
  }
}
/* ======= Paddings ======= */
.paddings1 {
  padding: 78px 0 69px 0;
}
@media (max-width: 767px) {
  .paddings1 {
    padding: 40px 0;
  }
}
.paddings2 {
  padding: 103px 0 67px 0;
}
@media (max-width: 767px) {
  .paddings2 {
    padding: 40px 0;
  }
}
.paddings3 {
  padding: 55px 0 40px 0;
}
@media (max-width: 767px) {
  .paddings3 {
    padding: 40px 0;
  }
}
.paddings4 {
  padding: 90px 0 19px 0;
}
@media (max-width: 767px) {
  .paddings4 {
    padding: 40px 0 0 0;
  }
}
.paddings5 {
  padding: 94px 0 62px 0;
}
@media (max-width: 767px) {
  .paddings5 {
    padding: 40px 0 30px 0;
  }
}
.paddings6 {
  padding: 90px 0 68px 0;
}
@media (max-width: 767px) {
  .paddings6 {
    padding: 40px 0 30px 0;
  }
}
.paddings7 {
  padding: 90px 0 51px 0;
}
@media (max-width: 767px) {
  .paddings7 {
    padding: 40px 0 30px 0;
  }
}
.paddings8 {
  padding: 103px 0 80px 0;
}
@media (max-width: 767px) {
  .paddings8 {
    padding: 40px 0;
  }
}
/* ======= Paddings ======= */
.margin1 {
  margin-bottom: 27px;
}
/*========================================================
                    HEADER styles
=========================================================*/
#header {
  position: relative;
  padding-top: 28px;
  background: #ffffff;
  box-shadow: 1px 1px 1px #cfcfcf;
  border-top: 12px solid #d02525;
}
#header h1 {
  margin-top: 5px;
  float: left;
}
@media (max-width: 1199px) {
  #header .sf-menu > li {
    margin-right: 10px;
  }
}
@media (max-width: 979px) {
  #header {
    text-align: center;
  }
  #header h1 {
    float: none;
  }
  #header nav {
    margin-top: 30px;
    float: none;
    display: inline-block;
    text-align: center;
  }
}
@media (max-width: 767px) {
  #header nav {
    width: 100%;
  }
  #header .select-menu {
    margin-bottom: 30px;
  }
  #header img {
    width: auto;
  }
}
#header .isStuck {
  background: #ffffff;
  z-index: 9999;
  box-shadow: 1px 1px 24px #606364;
}
#header .isStuck h1 {
  margin-top: 5px;
}
#header .isStuck nav {
  padding-top: 0;
}
#header .isStuck nav .sf-menu > li > a {
  padding: 20px 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#header .isStuck nav .sf-menu > li > .sf-with-ul:after {
  bottom: 7px;
}
#header .isStuck nav .sf-menu > li.current {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
@media (max-width: 979px) {
  #header .isStuck {
    display: none !important;
  }
}
@media (max-width: 767px) {
  #header .select-menu {
    margin: 5px 0 15px;
  }
}
.phone-number {
  text-align: right;
  float: right;
}
.phone-number .phone-number_description {
  display: block;
  font-size: 11px;
  line-height: 14px;
  color: #9e9e9e;
  text-transform: uppercase;
}
.phone-number .phone-number_number {
  font-size: 24px;
  line-height: 24px;
  color: #606364;
}
@media (max-width: 979px) {
  .phone-number {
    display: none;
  }
}
/*========================================================
                    CONTENT styles
=========================================================*/
#content .blue-background {
  background: url(../assets/background1.png) repeat-x #387396;
}
/* ======= List Type 1 ======= */
.list1 {
  margin-bottom: 27px;
}
.list1 li {
  position: relative;
  padding-left: 23px;
  color: #99daf9;
}
.list1 li a:hover {
  color: #ffffff;
}
.list1 li:before {
  content: '';
  width: 9px;
  height: 9px;
  background: #88d3f7;
  display: block;
  position: absolute;
  border-radius: 2000px;
  left: 0;
  top: 7px;
}
.list1 li + li {
  margin-top: 12px;
}
/* ======= NEED YOUR HELP TO SURVIVE ======= */
.header_span1 {
  display: block;
  font: 400 18px/24px "Istok Web", sans-serif;
  color: #8bd9ff;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}
.header_p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 23px;
}
/* ======= WHAT WE BELIEVE ======= */
.beige-background {
  background: #cfcfcf;
}
.beige-background img {
  margin-bottom: 15px;
}
.color__white {
  color: #ffffff;
}
/* ======= Posts with rounded images ======= */
.grey-background {
  background: #f3f3f3;
}
.post1 {
  text-align: center;
  margin: 56px 0;
}
.post1 img {
  border-radius: 2000px;
  margin-bottom: 27px;
}
.post1 h3 {
  margin-bottom: 8px;
}
.post1 p {
  margin-bottom: 13px;
}
/* ======= Post with video ======= */
.vimeo-video1 {
  width: 100%;
  height: 392px;
  margin-top: 9px;
  margin-bottom: 78px;
}
@media (max-width: 1199px) {
  .vimeo-video1 {
    height: 316px;
  }
}
@media (max-width: 979px) {
  .vimeo-video1 {
    height: 250px;
  }
}
@media (max-width: 767px) {
  .vimeo-video1 {
    height: 288px;
  }
}
@media (max-width: 480px) {
  .vimeo-video1 {
    height: 185px;
  }
}
.post h3 {
  margin-bottom: 24px;
  margin-top: 6px;
}
.post p {
  margin-bottom: 24px;
}
/* ======= Image markers before posts ======= */
.marker {
  padding-left: 71px;
  position: relative;
}
.marker:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
}
.marker1 {
  background: url(../assets/page2_img1.png) no-repeat left;
}
.marker2 {
  background: url(../assets/page2_img2.png) no-repeat left;
}
.marker3 {
  background: url(../assets/page2_img3.png) no-repeat left;
}
/* ======= People and their profession  ======= */
.name,
.profession {
  display: block;
  color: #ffffff;
}
.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 7px;
}
.post2 img {
  margin: 13px 0 32px 0;
}
.post2 .profession {
  margin-bottom: 15px;
}
.post2 a:hover {
  color: #d02525;
}
/* ======= Blockquote  ======= */
.post blockquote h3 {
  margin-bottom: 3px;
  margin-top: 3px;
}
blockquote h3 {
  font-size: 18px;
  line-height: 24px;
}
blockquote .blockquote_author {
  margin-top: -2px;
  margin-bottom: 21px;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: #606364;
  font-weight: 700;
  text-align: right;
}
/* ======= Post with image (var 2)  ======= */
.post__inset1 img {
  margin-top: 9px;
  margin-bottom: 77px;
}
@media (max-width: 767px) {
  .post__inset1 img {
    margin-bottom: 10px;
  }
}
/* ======= List Type 2  ======= */
.list2 {
  margin-bottom: 27px;
  margin-top: 5px;
}
.list2 li {
  position: relative;
  padding-left: 23px;
  color: #606364;
}
.list2 li a:hover {
  color: #d02525;
}
.list2 li:before {
  content: '';
  width: 9px;
  height: 9px;
  background: #d02525;
  display: block;
  position: absolute;
  border-radius: 2000px;
  left: 0;
  top: 7px;
}
.list2 li + li {
  margin-top: 12px;
}
/* ======= Post With Image, Header and Paragraph  ======= */
.post3 img {
  margin-top: 9px;
  margin-bottom: 28px;
}
.post3 h3 {
  margin-bottom: 7px;
}
.post3 h3 a:hover {
  color: #d02525;
}
.post3 p {
  color: #868a8c;
  margin-bottom: 18px;
  font-size: 13px;
}
@media (max-width: 767px) {
  .post3 img {
    margin-top: 30px;
  }
}
/* ======= Little Images In Blue Post ======= */
.little-images img {
  margin-bottom: 25px;
  margin-top: 5px;
}
/* ======= Big posts on grey background ======= */
.margin2 {
  margin-bottom: 84px;
}
.post.margin2:last-child {
  margin-bottom: 68px;
}
.post.margin2 h2 {
  margin-bottom: 24px;
}
.post.margin2 h3 {
  margin-bottom: 22px;
}
.post.margin2 h3 a:hover {
  color: #d02525;
}
.post.margin2 p {
  margin-bottom: 23px;
}
/* ======= Little contact information ======= */
.post .contact .contact_info {
  display: block;
}
.post .contact .number {
  color: #000000;
}
.post h3 a:hover {
  color: #d02525;
}
/* ======= Banners with text and button ======= */
.banners .banner {
  margin-top: 7px;
  padding: 34px 31px 5px 31px;
  text-align: center;
  margin-bottom: 29px;
}
.banners .banner h2 {
  color: #ffffff;
  margin-bottom: 26px;
}
.banners .banner p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 13px;
}
.banners .banner1 {
  background: url(../assets/page4_img1.png) no-repeat center center;
  background-size: cover;
}
.banners .banner2 {
  background: url(../assets/page4_img2.png) no-repeat center center;
  background-size: cover;
  padding-bottom: 28px;
}
.banners .banner2 .btn-default {
  margin-top: 17px;
}
.banners .banner3 {
  background: url(../assets/page4_img3.png) no-repeat center center;
  background-size: cover;
}
.banners .banner3 h2 {
  color: #606364;
}
.banners .banner3 p {
  color: #4a8aab;
}
.banners .banner4 {
  background: url(../assets/page4_img4.png) no-repeat center center;
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 979px) {
  .banners .banner h2 {
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 15px;
  }
  .banners .banner p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
  }
  .banners .banner .btn-default,
  .banners .banner .btn__inset3 {
    padding: 5px 15px;
  }
}
/* ======= Post with image, p and button ======= */
.post4 {
  margin-top: 9px;
}
.post4 img {
  margin-bottom: 24px;
}
.post4 p {
  margin-bottom: 12px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .post4 .btn-default {
    padding: 5px 15px;
  }
}
@media (max-width: 767px) {
  .post4 {
    margin-top: 40px;
  }
}
/* ======= List Type 3 ======= */
.list3 {
  margin-top: 34px;
  color: #606364;
  font-size: 13px;
  line-height: 22px;
}
.list3 li + li {
  margin-top: 22px;
}
.list3 .blue-link {
  display: inline-block;
  padding-left: 0;
}
/* ======= Banner After List ======= */
.banners .banner5 {
  background: url(../assets/page5_img17.png) no-repeat center center;
  background-size: cover;
  margin-top: 89px;
  padding-bottom: 33px;
}
.banners .banner5 a {
  color: #ffffff;
  display: block;
  font-size: 18px;
  line-height: 24px;
}
.banners .banner5 a:hover {
  color: #d02525;
}
/* ======= Google Map ======= */
.google-map__contact {
  width: 100%;
  height: 532px;
  margin-top: 9px;
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .google-map__contact {
    height: 300px;
  }
}
/* ======= Address ======= */
.contact-page_address .numbers {
  min-width: 79px;
  display: inline-block;
}
.contact-page_address .home-address {
  margin-top: 6px;
  font: 400 24px/24px "Trebuchet MS", sans-serif;
  color: #606364;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.contact-page_address .privacy-demolink {
  margin-bottom: 0;
}
@media (min-width: 767px) and (max-width: 979px) {
  .contact-page_address .numbers {
    min-width: 70px;
  }
}
/* ======= Contact Form ======= */
#contact-form {
  margin-top: 8px;
}
#contact-form label {
  margin-bottom: 30px;
}
/* ======= Privacy Demolink ======= */
.privacy-demolink {
  color: #d02525;
  display: inline-block;
  margin-bottom: 18px;
}
.privacy-demolink:hover {
  color: #4a8aab;
}
/*========================================================
                    FOOTER styles
=========================================================*/
#footer {
  padding: 83px 0;
  border-bottom: 13px solid #d02525;
}
#footer address {
  font-size: 13px;
  line-height: 18px;
}
#footer #footer_logo {
  margin-bottom: 13px;
}
#footer .privacy {
  color: #474646;
  margin-bottom: 19px;
}
#footer .privacy a:hover {
  color: #d02525;
}
@media (max-width: 767px) {
  #footer {
    padding: 40px 0;
  }
  #footer * {
    text-align: center;
  }
  #footer img {
    width: auto;
  }
}
/* ======= Social Buttons ======= */
.socials li {
  display: inline-block;
  margin-right: 17px;
}
.socials li a {
  color: #393939;
  font-size: 23px;
}
.socials li a:hover {
  color: #d02525;
}
/* ======= Address ======= */
.mb0 dt {
  position: relative;
  padding-left: 24px;
  color: #6d6d6d;
  margin-bottom: 23px;
  font-size: 13px;
}
.mb0 dt:before {
  content: '';
  background: url(../assets/page1_img5.png) no-repeat left 0;
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
}
.mb0 dt span {
  display: inline-block;
  margin-top: 4px;
}
@media (max-width: 767px) {
  .mb0 dt {
    display: inline-block;
  }
}
/* ======= Blue Link Get Directions ======= */
.blue-link {
  padding-left: 24px;
  color: #4a8aab;
  font-size: 13px;
}
.blue-link:hover {
  color: #d02525;
}
@media (max-width: 767px) {
  .blue-link {
    padding-left: 0;
  }
}
/* ======= Phone and Email ======= */
.mb1 {
  color: #6d6d6d;
}
.mb1 dd {
  margin-bottom: 22px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .mb1 dd {
    margin-bottom: 0;
  }
}
.mb1 .phone {
  position: relative;
  padding-left: 24px;
}
@media (max-width: 767px) {
  .mb1 .phone {
    display: inline-block;
    margin-right: 20px;
    padding-left: 16px;
  }
}
.mb1 .phone span {
  display: inline-block;
  min-width: 73px;
}
.mb1 .phone:before {
  content: '';
  background: url(../assets/page1_img6.png) no-repeat left 0;
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
}
.mb1 .mail {
  position: relative;
  padding-left: 24px;
}
@media (max-width: 767px) {
  .mb1 .mail {
    display: inline-block;
  }
}
.mb1 .mail:before {
  content: '';
  background: url(../assets/page1_img7.png) no-repeat left 0;
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
  top: 2px;
}
.simple-link {
  color: #6d6d6d;
  font-size: 13px;
}
.simple-link:hover {
  color: #d02525;
}
/*Core variables and mixins*/
